/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@-webkit-keyframes slidingTextLeft {
    from{
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }

    to{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes slidingTextLeft {
    from{
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }

    to{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@-webkit-keyframes slidingTextRight {
    from{
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }

    to{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes slidingTextRight {
    from{
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }

    to{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@-webkit-keyframes fadingCard {
    from{
        opacity: 0;
        -webkit-transform: scale(0.1);
                transform: scale(0.1);
    }

    to{
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes fadingCard {
    from{
        opacity: 0;
        -webkit-transform: scale(0.1);
                transform: scale(0.1);
    }

    to{
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.sliding-left{
    -webkit-animation-name: slidingTextLeft;
            animation-name: slidingTextLeft;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-direction: normal;
            animation-direction: normal;
}

.sliding-right{
    -webkit-animation-name: slidingTextRight;
            animation-name: slidingTextRight;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-direction: normal;
            animation-direction: normal;
}

body{
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
}

.rules {
    -webkit-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
    transition: font-size 0.5s ease;
}

.rules:hover, .rules:active {
    font-size: 4vw;
}


li{
    list-style: none;
}

nav{
    background: rgb(235, 235, 235);
    height: 10rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: solid;
    border-color: lightgrey;
    border-radius: 1em;
    font-size: 2vw;
}

nav .nav-link{
    display: none;
}

nav #menuButton{
    display: block;
    position: absolute;
    left: 5%;
    font-size: 2rem;
}


#listMenu ul li a{
    color: black;
    font-size: 5vw;
    text-transform: uppercase;
}

#listMenu{
    display: none;
    position: absolute;
    left: 10%;
    top: 5%;
    background: rgb(235, 235, 235);
    border: solid;
    border-color: lightgrey;
    border-radius: 1em;
    text-align: left;
    
}

#listMenu.open{
    display: block;
    z-index: 1;
}



button, a:link:not(.nav-link), a:visited:not(.nav-link) {
    background-color: #2c519c;
    color: white;
    padding: 5% 10%;
    margin-top: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1rem;
}

a:link:not(.nav-link), a:visited:not(.nav-link) {

    padding: 3%;
    margin-top: 1%;
    border-radius: 1rem;
}

button{

    padding: 2% 5%;
    margin-top: 1%;
    border-radius: 1rem;
}

input, label{
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
input{
    width: 80%;
    padding: 1%;
    margin: auto;
}

a:not(.nav-link):hover, .nav-link:hover, a:not(.nav-link):active, .nav-link:active{
    text-decoration: underline;
}

a{
    text-decoration: none;
}


#dealer-container{
    text-align: center;
}

#game{
    position: absolute;
    min-width:100%;
    min-height:100%;
}

.card{
    width: 10em;
    height: auto;
    -webkit-animation-name: fadingCard;
            animation-name: fadingCard;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-transition: -webkit-transform 0.1s;
    transition: -webkit-transform 0.1s;
    -o-transition: transform 0.1s;
    transition: transform 0.1s;
    transition: transform 0.1s, -webkit-transform 0.1s;
}

.card:hover, .card:active{
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}

.balance {
    max-width: 20%;
    position: fixed; top: 80%; left: 1%;
}


.default-container{
    background-color: #f2f2f2;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    border: solid;
    border-color: lightgrey;
    border-radius: 1em;
    text-align: center;
    
}

.table-container{
    width: auto;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1em;
    
}

table{
    margin: auto;
}

td,
th {
border: 0.1em solid black;
padding: 0.7em 0.5em;
}

th {
background-color: rgb(235, 235, 235);
}

td {
text-align: center;
}

@media(min-width: 801px){
    body {
        font-size: 1vw;
    }

    nav ul{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 2rem;
    }

    nav ul li a{
        color: black;
        border-radius: 1%;
        text-transform: uppercase;
    }

    nav .nav-link{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    nav #menuButton{
        display: none;
    }

    #listMenu.open{
        display: none;
    }
}