{% extends 'base.html.twig' %}

{% block title %}Blackjack Project - Admin{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/index.js') }}" defer></script>
   
{% endblock %}

{% block body %}
<div class="default-container">
    <h1> Admin page! </h1>
    <section>
    <p>
    <a href="{{ path('create_table') }}">Créer une table</a>
    </p>
    </section>
</div>
{% endblock %}
