{% extends 'base.html.twig' %}

{% block title %}Hello NavigationController!{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/index.js') }}" defer></script>
   
{% endblock %}

{% block body %}
 <h1> Admin page! </h1>
 <a class="nav-link" href="{{ path('create_table') }}">Créer une table</a>
{% endblock %}
