{% extends 'base.html.twig' %}

{% block title %}Blackjack Project - Home{% endblock %}

{% block body %}
    <div class="default-container">
        <h1> Blackjack Project </h1>
        <h2> Welcome to the Blackjack Project!</h2>
        <article>
            <p>
                This website is a little project where you can have fun playing blackjack!
                Here you can play blackjack for free without the fear of losing money!
            </p>
            <p>
                You can choose the table you want to play on depending on how much you want to bet.
                With your balance increasing, you will unlock new tables with increasing maximum bet amounts!
            </p>
            <p>
                But be careful! You can lose everything at any moment. Losing all your points will result in banckrupcy
                and you will start over with 1 point in your balance!
            </p>
        </article>
    <div>


{% endblock %}
