{% extends 'base.html.twig' %}

{% block title %}Blackjack Project - Ranking{% endblock %}

{% block body %}
<div class="default-container">
        <h1> Users Ranking </h1>
</div>
    
<div class="default-container">
    <table>
        <caption>
            Users Ranked by their balance
        </caption>
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Username</th>
                <th scope="col">Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users%}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{user.username}}</td>
                <td>{{user.balance}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}
