{% extends 'base.html.twig' %}

{% block title %}Blackjack Project - Ranking{% endblock %}

{% block body %}
    
<div class="table-container">
    <table>
        <caption>
            Ranking of the users
        </caption>
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Username</th>
                <th scope="col">Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users%}
            <tr>
                <td  scope="row">{{ loop.index }}</td>
                <td>{{user.username}}</td>
                <td>{{user.balance}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}
