{% extends 'base.html.twig' %}

{% block title %}Blackjack Project - Table edition{% endblock %}

{% block body %}
<h1>Création d'une table</h1>
<div class="table-container">
{{form(tableForm)}}
</div>
{% endblock %}